<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" class="index">

      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9HRZBM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

        {{ partial "nav.html" . }}

        {{ partial "header.html" . }}
        {{ partial "portfolio-grid.html" . }}
        {{ partial "about.html" . }}
        {{ partial "contact.html" . }}

        {{ partial "footer.html" . }}
        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}

    </body>
</html>
